[submodule "installed_contracts/openzeppelin-contracts-upgradeable"]
	path = installed_contracts/openzeppelin-contracts-upgradeable
	url = https://github.com/openzeppelin/openzeppelin-contracts-upgradeable
